* {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

a[href="https://discord.gg/GBFtRcY"],
a[href="https://cuberealm.io"],
.hCYBep,
.iiRiSL,
.cSKUzy,
.dcWybl *,
.cSKUzy,
.iiRiSL,
.hZsXWy,
.kkJNVP,
.mKbOF,
.ioTKAc,
.biWqsQ,
.cLzJor,
.ewFvVb,
.kLCLJb {
    display: none !important;
}

.vox-dropdown .Dropdown-menu {
    max-height: 400px;
}

.bNczYf {
    background-size: cover !important;
    filter: grayscale(100%);
}

.jzxTWp,
.evngGB {
    z-index: 7;
}

.gIfJjz,
.cxSTIe,
.ekCLHU,
.eFhDSk,
.eQfmzq *,
.bNPMhE *,
.kmXZza *,
.jeVZaU *,
.hRjrYH *,
.faeaXa,
.cJa-dgF,
.bhZAzR,
.lbyvRf,
.gJPUVb,
.dtXnOV,
.dFbRBI,
.czueTf,
.dXMIIa,
.bccMWL {
    border: none !important;
    background: none !important;
}

.hPoIsr,
.iSzErR {
    background: none !important;
    border: none !important;
    width: 50px;
    height: 50px;
}

.lpfJAq *,
.lpdfTz * {
    max-height: 400px !important;
}

.eQfmzq {
    position: absolute;
    top: 0;
    left: 200px;
}

.faeaXa[style*="rgb(149, 165, 166)"] {
    filter: drop-shadow(0 0 10px rgb(149, 165, 166));
}

.faeaXa[style*="rgb(46, 204, 113)"] {
    filter: drop-shadow(0 0 10px rgb(46, 204, 113));
}

.faeaXa[style*="rgb(52, 152, 219)"] {
    filter: drop-shadow(0 0 10px rgb(52, 152, 219));
}

.faeaXa[style*="rgb(155, 89, 182)"] {
    filter: drop-shadow(0 0 10px rgb(155, 89, 182));
}

.faeaXa[style*="rgb(241, 196, 15)"] {
    filter: drop-shadow(0 0 10px rgb(241, 196, 15));
}

.faeaXa[style*="rgb(211, 84, 0)"] {
    filter: drop-shadow(0 0 10px rgb(211, 84, 0));
}

img[src="/./package/ea55824826de52b7ccc3.png"] {
    margin-bottom: 20px;
    width: auto;
    height: 200px;
    filter: drop-shadow(0 0 20px black);
    pointer-events: none;
}

.kqMamr[style*="font-size: 10px"],
.dZDPlS * {
    font-size: 12px !important;
}

.ekaCUa {
    height: 100%;
}

.hJOcIA {
    margin: 0;
}