* {
    text-decoration: none;
}

a[href="https://discord.gg/GBFtRcY"],
a[href="https://cuberealm.io"],
.hCYBep,
.iiRiSL,
.cSKUzy,
.dcWybl *,
.cSKUzy,
.iiRiSL,
.hZsXWy,
.kkJNVP,
.mKbOF,
.ioTKAc,
.biWqsQ,
.cLzJor,
.ewFvVb {
    display: none !important;
}

.voxiomCreate {
    margin: 20px;
    position: absolute;
    font-weight: 900;
}

.voxiomConsole {
    font-family: "Consolas", monospace;
    top: 0;
    left: 0;
    font-size: 10px;
}

.voxiomBlocks {
    width: 100%;
    position: absolute;
    bottom: 35%;
    text-align: center;
    font-size: 10px;
}

.eHnkoG div,
.eHkThH div {
    max-height: 400px;
}

.bNczYf {
    background-size: cover !important;
    filter: grayscale(100%);
}

.jzxTWp,
.evngGB {
    z-index: 7;
}

.gIfJjz,
.cxSTIe,
.ekCLHU,
.eFhDSk,
.eQfmzq *,
.bNPMhE *,
.kmXZza *,
.jeVZaU *,
.hRjrYH *,
.faeaXa,
.cJa-dgF,
.bhZAzR,
.lbyvRf,
.gJPUVb {
    border: none !important;
    background: none !important;
}

.hPoIsr,
.iSzErR {
    background: none !important;
    border: none !important;
    width: 50px;
    height: 50px;
}

.cJoQGw img {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 20%));
}

.lpfJAq *,
.lpdfTz * {
    max-height: 450px !important;
}

.eQfmzq {
    position: absolute;
    top: 0;
    left: 200px;
}

.faeaXa[style*="rgb(149, 165, 166)"] {
    filter: drop-shadow(0 0 10px rgb(149, 165, 166));
}

.faeaXa[style*="rgb(46, 204, 113)"] {
    filter: drop-shadow(0 0 10px rgb(46, 204, 113));
}

.faeaXa[style*="rgb(52, 152, 219)"] {
    filter: drop-shadow(0 0 10px rgb(52, 152, 219));
}

.faeaXa[style*="rgb(155, 89, 182)"] {
    filter: drop-shadow(0 0 10px rgb(155, 89, 182));
}

.faeaXa[style*="rgb(241, 196, 15)"] {
    filter: drop-shadow(0 0 10px rgb(241, 196, 15));
}

.faeaXa[style*="rgb(211, 84, 0)"] {
    filter: drop-shadow(0 0 10px rgb(211, 84, 0));
}