@font-face {
    font-family: "Roboto-Mono";
    src: url("../../assets/fonts/RobotoMono.ttf") format("truetype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto-Mono", monospace;
}

body {
    background: black;
    color: white;
    font-size: 1rem;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 400px);
}

main {
    margin: 10px;
}

h1 {
    font-size: 0.75rem;
    color: gray;
}

.block {
    margin-bottom: 20px;
}

.content {
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.subText {
    font-size: 0.6rem;
    color: gray;
}

input[type="text"],
input[type="url"] {
    background: transparent;
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}

input[type="checkbox"] {
    cursor: pointer;
    outline: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #4CAF50;
    border-radius: 3px;
}

input[type="checkbox"]:hover {
    box-shadow: 0 0 5px #4CAF50;
}

input[type="checkbox"]:checked {
    background-color: #4CAF50;
}

button {
    background: transparent;
    color: rgb(252, 222, 55);
    outline: none;
    border: none;
    cursor: pointer;
}

button:hover {
    text-shadow: 0 0 10px #4CAF50;
}

/* #currentURL {
    font-size: 0.75rem;
    color: gray;
} */

textarea {
    resize: none;
    width: 100%;
    height: 175px;
    background: transparent;
    border: 2px solid gray;
    outline: none;
    color: white;
}

#restart {
    color: #f44336;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 20px;
}

footer button {
    font-size: 1rem;
}

input[type="range"] {
    width: 70px;
}

.disabled,
input:disabled,
textarea:disabled,
input:disabled {
    opacity: 20%;
    cursor: not-allowed;
}

input:disabled:hover {
    box-shadow: none;
}

.info {
    margin: 3px;
    font-size: 0.5rem;
    color: gray;
    position: absolute;
    top: 0;
    right: 0;
}

::-webkit-scrollbar {
    display: none;
}

header {
    font-size: 1.5rem;
    text-align: center;
}

table {
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background-color: #1a1a1a;
}

td {
    padding: 5px 20px;
}

td:first-child {
    border-radius: 15px 0 0 15px;
}

td:last-child {
    border-radius: 0 15px 15px 0;
}

a {
    text-decoration: none;
    color: #00A1E4;
}

.page {
    width: 800px;
    text-align: left;
    margin: auto;
}

.page main {
    padding: 20px 0;
    width: fit-content;
    margin: auto;
}

p {
    margin: 0 20px;
}

.swapperInput {
    width: 100%;
}

input[type="file"] {
    display: none;
}

.file-upload-label {
    color: gold;
    cursor: pointer;
}

.file-upload-label:hover {
    text-shadow: 0 0 10px #4CAF50;
}

table {
    font-size: 0.75rem;
}

thead {
    font-weight: 900;
}

.copy {
    user-select: none;
    font-size: 0.75rem;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    outline: none;
    padding: 2px 5px;

    color: #ffe4e1;

    background: rgba(255, 255, 255, 0.1);
    transition: background-color 0.1s ease;

}

.copy:hover {

    background: rgba(255, 255, 255, 0.3);
}

.copy:active {

    background: rgba(255, 255, 255, 0.5);
}