/* Modals */
.wrapper {
    display: none;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4rem;
    margin: 5px 10px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.open {
    display: block !important;
}

/* Styles */
::-webkit-scrollbar {
    display: none;
}

.modal * {
    -webkit-user-drag: none;
    user-select: none;
    font-family: "Roboto-Mono", monospace;
}

.modal {
    width: calc(100% - 40px);
    max-width: 800px;
    height: 600px;
    overflow-y: auto;
    border-radius: 1rem;
    background: linear-gradient(-30deg, rgba(0, 0, 20, 0.7) 0%, rgba(20, 0, 0, 0.7) 100%);
    font-size: 0.8rem;
    color: white;
    user-select: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: hop ease 0.3s;
}

.modal input {
    color: white;
}

.modal h1 {
    font-size: 0.6rem;
    color: gray;
}

.block {
    margin: 20px 10px;
}

.content {
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.modal input[type="text"],
.modal input[type="url"] {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}

.modal input[type="checkbox"] {
    cursor: pointer;
    outline: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border: 2px solid #4CAF50;
    border-radius: 2px;
}

.modal input[type="checkbox"]:hover {
    box-shadow: 0 0 5px #4CAF50;
}

.modal input[type="checkbox"]:checked {
    background-color: #4CAF50;
}

.modal button {
    background: transparent;
    color: rgb(252, 222, 55);
    outline: none;
    border: none;
    cursor: pointer;
}

.modal button:hover {
    text-shadow: 0 0 10px #4CAF50;
}

.modal footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.modal footer button {
    font-size: 1rem;
}

.modal input[type="range"] {
    width: 70px;
    height: 5px;
}

.modal input[type="range"]:hover {
    filter: drop-shadow(0 0 2px #4CAF50);
}

.disabled,
input:disabled,
input:disabled,
label:disabled {
    opacity: 20%;
    cursor: not-allowed;
}

.modal input:disabled:hover {
    box-shadow: none;
}

.modal header {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.modal table {
    margin: auto;
    border-collapse: collapse;
    font-size: 0.75rem;
}

.modal tbody tr:nth-child(odd) {
    background-color: #1a1a1a;
}

.modal td {
    padding: 5px 20px;
}

.modal td:first-child {
    border-radius: 15px 0 0 15px;
}

.modal td:last-child {
    border-radius: 0 15px 15px 0;
}

.modal a {
    text-decoration: none;
    color: #00A1E4;
}

.modal input[type="file"] {
    display: none;
}

.modal thead {
    font-weight: 900;
}

/* Inventory */
.selectMenu {
    margin: 10px auto;
    display: flex;
    align-items: center;
}

#left,
#right {
    background: #646464;
    width: 30px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    cursor: pointer;
}

.cont {
    margin: 10px;
    flex: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#voxiomInventory {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.voxiomSelect {
    height: 30px;
    background: #646464;
    position: relative;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 10px;
    line-height: 30px;
}

.voxiomSelectMenu {
    display: none;
    margin-left: -10px;
    width: 100%;
    position: absolute;
    z-index: 1000;
}

.voxiomSelectMenu.active {
    display: block;
}

.selected {
    height: 100%;
    display: flex;
    align-items: center;
}

.option {
    padding: 0 10px;
}

.option:first-child {
    border-radius: 10px 10px 0 0;
}

.option:last-child {
    border-radius: 0 0 10px 10px;
}

.option:nth-child(even) {
    background: #444444;
}

.option:nth-child(odd) {
    background: #323232;
}

.option:hover {
    background: #7c7c7c;
}

#inventoryModal .input {
    width: 100%;
    height: 100%;
    background: #646464;
    outline: none;
    border: none;
    color: white;
}

#inventoryModal .input::placeholder {
    color: lightgray;
}

.btn {
    background: #4CAF50;
}

.btn:hover {
    background: #59ce5d;
}

.count,
.close {
    position: absolute;
    top: 0;
    cursor: pointer;
}

.count {
    left: 0;
    font-size: 0.6rem;
    color: gray;
    margin: 10px;
}

.imgBlock {
    position: relative;
}

.imgCont {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.name {
    margin-top: 5px;
    font-size: 8px;
    text-align: center;
}

.id {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 8px
}

.creation {
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 8px
}

.line {
    border: none;
    height: 3px;
    border-radius: 3px;
}

.equipped {
    position: absolute;
    top: 7px;
    right: -10px;
    width: 7px;
    height: 7px;
    border-radius: 10px;
}

.disabled {
    opacity: 50%;
    cursor: not-allowed !important;
}

@keyframes hop {
    0% {
        transform: translate(-50%, calc(-50% + 30px));
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

/* Menu */
.sideBar {
    height: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid gray;
}

.sideBarList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sideBarItem {
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 1.2rem;
}

.mainContent {
    height: calc(100% - 20px);
    padding: 10px;
    flex: 1;
}

.mainContentBlock {
    height: 100%;
    display: none;
    overflow-y: auto;
}

.icon {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.icon img {
    height: 30px;
}

#version {
    padding: 10px;
}

.mainContent .active {
    display: flex;
    flex-direction: column;
}

/* Customization */
.swapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.swapper input[type="radio"] {
    cursor: pointer;
    outline: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
}

.swapper input[type="radio"]:hover {
    box-shadow: 0 0 5px #4CAF50;
}

.swapper input[type="radio"]:checked {
    background-color: #4CAF50;
}

#crosshairURL {
    width: 300px;
}

.file-icon {
    height: 10px;
}

.file-icon:hover {
    filter: drop-shadow(0 0 5px #4CAF50);
}

.file-upload-label {
    color: gold;
    cursor: pointer;
}

.file-upload-label:hover {
    text-shadow: 0 0 10px #4CAF50;
}

#userScriptsBlock {
    display: flex;
    gap: 20px;
}

/* Settings */
.relaunch {
    color: #f44336 !important;
}

.subText {
    font-size: 0.6rem;
    color: gray;
}

.copy {
    user-select: none;
    font-size: 0.75rem;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    outline: none;
    padding: 2px 5px;
    color: #ffe4e1;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 0.1s ease;
}

.copy:hover {
    background: rgba(255, 255, 255, 0.3);
}

.copy:active {
    background: rgba(255, 255, 255, 0.5);
}

/* Changelog */
.loader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spin {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#clientUpdates {
    display: flex;
    overflow: auto;
    flex: 1;
}

#clientUpdatesText {
    overflow: auto;
    flex: 1;
}

#clientUpdatesNavigator {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#clientUpdatesNavigator>button {
    padding: 10px;
}

.updatesTitle {
    margin: 10px;
}

.updatesCont {
    margin: 10px;
    padding: 10px;
}

/* Info */
.credit {
    margin: auto;
    width: fit-content;
    display: flex;
    gap: 3px;
}