* {
    text-decoration: none;
}

div[id^="voxiom-io"] {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

a[href="https://discord.gg/GBFtRcY"],
a[href="https://cuberealm.io"],
.hCYBep,
.iiRiSL,
.cSKUzy,
.dcWybl *,
.cSKUzy,
.iiRiSL,
.hZsXWy,
.kkJNVP,
.mKbOF,
.ioTKAc,
.biWqsQ,
.cLzJor,
.ewFvVb,
.kLCLJb {
    display: none !important;
}

.vox-dropdown .Dropdown-menu {
    max-height: 400px;
}

.bNczYf {
    background-size: cover !important;
    filter: grayscale(100%) blur(5px);
    padding: 10px;
    margin: -10px;
}

.jzxTWp,
.evngGB {
    z-index: 7;
}

.gIfJjz,
.cxSTIe,
.ekCLHU,
.eFhDSk,
.eQfmzq *,
.bNPMhE *,
.kmXZza *,
.jeVZaU *,
.hRjrYH *,
.faeaXa,
.cJa-dgF,
.bhZAzR,
.lbyvRf,
.gJPUVb,
.dtXnOV,
.dFbRBI,
.czueTf,
.dXMIIa,
.bccMWL,
.hPotyP {
    border: none !important;
    background: none !important;
}

.hPoIsr,
.iSzErR {
    background: none !important;
    border: none !important;
    width: 50px;
    height: 50px;
}

.lpfJAq *,
.lpdfTz * {
    max-height: 400px !important;
}

.eQfmzq {
    position: absolute;
    top: 0;
    left: 200px;
}

.faeaXa {
    filter: drop-shadow(0 0 3px rgb(var(--inv))) drop-shadow(0 0 3px rgb(var(--inv)))
}

.faeaXa[style*="rgb(149, 165, 166)"] {
    --inv: 149, 165, 166;
}

.faeaXa[style*="rgb(46, 204, 113)"] {
    --inv: 46, 204, 113;
}

.faeaXa[style*="rgb(52, 152, 219)"] {
    --inv: 52, 152, 219;
}

.faeaXa[style*="rgb(155, 89, 182)"] {
    --inv: 155, 89, 182;
}

.faeaXa[style*="rgb(241, 196, 15)"] {
    --inv: 241, 196, 15;
}

.faeaXa[style*="rgb(211, 84, 0)"] {
    --inv: 211, 84, 0;
}

img[src="/./package/ea55824826de52b7ccc3.png"] {
    margin-bottom: 20px;
    width: auto;
    height: 200px;
    filter: drop-shadow(0 0 20px black);
    pointer-events: none;
}

.kqMamr[style*="font-size: 10px"],
.dZDPlS * {
    font-size: 12px !important;
}

.ekaCUa {
    height: 100%;
}

.bhZAzR {
    color: rgb(52, 152, 219);
}

.gJPUVb {
    color: rgb(231, 76, 60);
}

.cJoQGw {
    background: radial-gradient(circle, rgba(var(--market), 0.3), rgba(var(--market), 0.1));
}

.cJoQGw[style*="rgb(255, 255, 255)"] {
    --market: 255, 255, 255;
}

.cJoQGw[style*="rgb(128, 156, 255)"] {
    --market: 128, 156, 255;
}

.cJoQGw[style*="rgb(180, 99, 255)"] {
    --market: 180, 99, 255;
}

.cJoQGw[style*="rgb(255, 84, 224)"] {
    --market: 255, 84, 224;
}

.cJoQGw[style*="rgb(230, 126, 34)"] {
    --market: 230, 126, 34;
}

.cJoQGw[style*="rgb(255, 66, 101)"] {
    --market: 255, 66, 101;
}

.cJoQGw[style*="rgb(255, 224, 99)"] {
    --market: 255, 224, 99;
}

.cxWTDe {
    background: rgba(0, 0, 0, 0.65) !important;
    border-radius: 10px;
}