.voxiomCreate {
    margin: 20px;
    position: absolute;
    font-weight: 900;
}

.voxiomConsole {
    top: 0;
    left: 0;
    font-size: 0.75rem;
    font-family: monospace;
}

.voxiomBlocks {
    margin: auto;
    width: 100%;
    position: absolute;
    bottom: 35%;
    text-align: center;
    font-size: 10px;
}

.voxiomCrosshair {
    top: 50vh;
    left: 50vw;
    position: fixed;
    transform: translate(-50%, -50%);
}

.voxiomSkinName {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 0.8rem;
    color: gray;
}

.voxiomSkinsButton {
    background: #646464;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.gem {
    margin-left: 3px;
    height: 9px;
}

.skinModal {
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}

.hint {
    position: absolute;
    bottom: -25px;
}

#popup {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s ease;
}

#popup img {
    height: 15px;
    margin-right: 7px;
}

#popup:hover {
    transform: scale(1.05);
}
