/* Wrapper */
.modalWrapper {
    display: none;
}

.modalWrapper .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4rem;
    margin: 5px 10px;
    transition: 0.3s ease;
}

.modalWrapper .close:hover {
    transform: scale(1.1);
}

.modalWrapper .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.open {
    display: block !important;
}

/* Styles */
.modal * {
    font-family: "Roboto", sans-serif;
}

.modal {
    width: calc(100% - 40px);
    max-width: 800px;
    height: 600px;
    overflow-y: auto;
    border-radius: 1rem;
    background: linear-gradient(
        -30deg,
        rgba(0, 0, 20, 0.7) 0%,
        rgba(20, 0, 0, 0.7) 100%
    );
    font-size: 0.8rem;
    color: white;
    user-select: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: hop ease 0.3s;
}

.modal ::-webkit-scrollbar {
    display: none;
}

.modal h1 {
    font-size: 0.6rem;
    color: gray;
}

.modal .block {
    margin: 20px 10px;
}

.modal .content {
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.modal input {
    color: white;
}

.modal input::placeholder {
    color: lightgray;
}

.modal input[type="text"],
.modal input[type="url"] {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}

.modal input[type="checkbox"] {
    appearance: none;
    width: 50px;
    height: 25px;
    background: linear-gradient(45deg, #e5e7eb55, #98989855);
    border-radius: 25px;
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
    outline: none;
}

.modal input[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0px;
    height: 25px;
    width: 25px;
    background: linear-gradient(45deg, #c93e34, #800900);

    border-radius: 50%;
    transition: 0.3s ease;
}

.modal input[type="checkbox"]:checked::before {
    left: 25px;
    background: linear-gradient(45deg, #4caf50, #006504);
}

.modal input[type="range"] {
    width: 70px;
    height: 5px;
}

.modal input[type="file"] {
    display: none;
}

.modal button {
    background: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.modal footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.modal footer button {
    font-size: 1rem;
    transition: 0.3s ease;
}

.modal footer button:hover {
    transform: scale(1.1);
}

.modal textarea {
    margin-right: 10px;
    padding: 10px;
    width: 100% !important;
    height: 150px;
    background: transparent;
    border: 1px solid rgb(50, 50, 50);
    outline: none;
    color: white;
    border-radius: 20px;
    resize: vertical;
}

.disabled,
input:disabled,
input:disabled,
label:disabled {
    opacity: 20%;
    cursor: not-allowed;
}

.modal input:disabled:hover {
    box-shadow: none;
}

.modal header {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.modal table {
    margin: auto;
    border-collapse: collapse;
    font-size: 0.75rem;
}

.modal tbody tr:nth-child(odd) {
    background-color: #1a1a1a;
}

.modal td {
    padding: 5px 20px;
}

.modal td:first-child {
    border-radius: 15px 0 0 15px;
}

.modal td:last-child {
    border-radius: 0 15px 15px 0;
}

.modal a {
    text-decoration: none;
    color: #00a1e4;
}

.modal thead {
    font-weight: 900;
}

.modal .btn {
    color: goldenrod;
    transition: 0.3s ease;
}

.modal .btn:hover {
    color: gold;
    transform: scale(1.05);
}

.modal h4 {
    margin: 10px 0;
}

/* Inventory */
#inventorySelectMenu {
    margin: 10px auto;
    display: flex;
    align-items: center;
}

#left,
#right {
    background: #646464;
    width: 30px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.3s ease;
}

#left:hover,
#right:hover {
    transform: scale(1.05);
}

#inventoryCont {
    margin: 10px;
    flex: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

#voxiomInventory {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.voxiomSelect {
    height: 30px;
    background: #646464;
    position: relative;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 10px;
    line-height: 30px;
    transition: 0.3s ease;
}

.voxiomSelect:hover {
    background: #707070;
}

.voxiomSelectMenu {
    display: none;
    margin-left: -10px;
    width: 100%;
    position: absolute;
    z-index: 1000;
}

.voxiomSelectMenu.active {
    display: block;
}

.selected {
    height: 100%;
    display: flex;
    align-items: center;
}

.option {
    padding: 0 10px;
}

.option:first-child {
    border-radius: 10px 10px 0 0;
}

.option:last-child {
    border-radius: 0 0 10px 10px;
}

.option:nth-child(even) {
    background: #444444;
}

.option:nth-child(odd) {
    background: #323232;
}

.option:hover {
    background: #7c7c7c;
}

#inventoryModal .input {
    width: 100%;
    height: 100%;
    background: #646464;
    outline: none;
    border: none;
    color: white;
    transition: 0.3s ease;
}

#inventoryModal .input:hover {
    background: #707070;
}

.green {
    background: #4caf50;
    color: white;
}

.green:hover {
    background: #59ce5d;
}

#count,
.close {
    position: absolute;
    top: 0;
    cursor: pointer;
}

#count {
    left: 0;
    font-size: 0.6rem;
    color: gray;
    margin: 10px;
}

.imgBlock {
    position: relative;
    display: flex;
    justify-content: center;
}

.imgCont {
    width: 70%;
    height: 70%;
    position: absolute;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.name {
    margin-top: 5px;
    font-size: 8px;
    text-align: center;
    white-space: nowrap;
}

.id {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 8px;
}

.creation {
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 8px;
}

.line {
    border: none;
    height: 3px;
    border-radius: 3px;
}

.equipped {
    position: absolute;
    top: 7px;
    right: -10px;
    width: 7px;
    height: 7px;
    border-radius: 10px;
}

.skin-exclusive {
    background: linear-gradient(
        60deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.1)
    );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.disabled {
    opacity: 50%;
    cursor: not-allowed !important;
}

@keyframes hop {
    0% {
        transform: translate(-50%, calc(-50% + 30px));
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

/* Menu */
#menuWrapper {
    display: flex;
    height: 100%;
}

#menuSideBar {
    height: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgb(50, 50, 50);
}

#menuSideBarList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#menuSideBarList button.active {
    background: rgba(200, 200, 200, 0.3);
}

.sideBarItem {
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 1.2rem;
}

#menuMainContent {
    height: calc(100% - 20px);
    padding: 10px;
    flex: 1;
}

#menuMainContent .active {
    display: flex;
    flex-direction: column;
}

.mainContentBlock {
    height: 100%;
    display: none;
    overflow-y: auto;
}

#menuHeader {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}

#menuHeader img {
    height: 1.7rem;
}

#version {
    padding: 10px;
}

.updateBtn {
    color: gold !important;
    transition: 0.3s ease;
}
.updateBtn:hover {
    transform: scale(1.1);
}

#joinLinkURL {
    width: 300px;
}

/* Customization */
#crosshairContent {
    display: flex;
    align-items: center;
}

#crosshairURL {
    margin: 0 5px;
    width: 300px;
}

#file-icon {
    height: 15px;
    transition: 0.3s ease;
}

#file-icon:hover {
    transform: scale(1.3);
}

#file-upload-label {
    color: gold;
    cursor: pointer;
}

#file-upload-label:hover {
    text-shadow: 0 0 10px #4caf50;
}

#userScriptsBlock {
    display: flex;
    gap: 20px;
}

.warning {
    color: #f44336 !important;
}

/* Settings */
.subText {
    font-size: 0.6rem;
    color: gray;
}

.copy {
    user-select: none;
    font-size: 0.75rem;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    outline: none;
    padding: 2px 5px;
    color: #ffe4e1;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.3s ease;
}

.copy:hover {
    background: rgba(255, 255, 255, 0.3);
}

.copy:active {
    background: rgba(255, 255, 255, 0.5);
}

/* Changelog */
.loader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spin {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#clientUpdates {
    display: flex;
    overflow: auto;
    flex: 1;
}

#clientUpdatesText {
    overflow: auto;
    flex: 1;
}

#clientUpdatesNavigator {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#clientUpdatesNavigator > button {
    padding: 10px;
}

.updatesTitle {
    margin: 10px;
}

.updatesCont {
    margin: 10px;
    padding: 10px;
}

/* Info */
.credit {
    margin: auto;
    width: fit-content;
    display: flex;
    gap: 3px;
}

/* Lists */
.list-el {
    height: 30px;
    padding: 20px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 0.3s ease;
    border-radius: 10px;
}

.list-el img,
.list-el svg {
    width: 20px;
}

.list-el:hover {
    margin-left: 5px;
    background: rgba(128, 128, 128, 0.325);
    transform: scale(1.05);
}

ul {
    margin: 0;
    padding: 0 15px;
}

select {
    padding: 5px;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    border-bottom: 1px solid rgb(50, 50, 50);
}

select option:nth-child(odd) {
    background: rgb(50, 50, 50);
}

select option:nth-child(even) {
    background: rgb(40, 40, 40);
}

/* Generate Configs */
.configCont {
    margin: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.configCont .upCont {
    display: flex;
    gap: 10px;
    align-items: center;
}

.configCont .downCont {
    display: flex;
    gap: 10px;
    font-size: 0.8rem;
}

.configCont .leftCont {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.configCont .restart,
.configCont .refresh,
.configCont .category {
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.7);
}

.configCont .restart {
    background: #ff000040;
}

.configCont .refresh {
    background: #db710040;
}

.configCont .category {
    background: #3ab80040;
}

.configCont .name {
    font-size: 1.25rem;
}
